.dashboard {

}

.cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
}

.card-user {
  min-width: 420px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  background: #FFF;
  max-width: 400px;
  padding: 20px;
  margin: 5px;
}

.card-user:hover {
  border: 0.5px solid rgb(159, 182, 255);
  /* box-shadow: 5px 5px 10px rgb(202, 202, 202); */
}

.card-user .user-info {
  display: flex;
  flex-direction: column;
}

.card-user .user-symptom {
  font-size: 14px;
}
/* 
@media (max-width: 400px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
} */